<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015-2019</p>
                        <div class="h5">Bachelor Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Technology</div>
                        <h4 class="category">ABC Group of Institutions</h4>
                        <ul>

                            <li>Completed B-tech in Electronics and telecommunication Engineering with <b>75% </b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2013-2015</p>
                        <div class="h5">Secondary education</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Diploma</div>
                        <h4 class="category">ABC Group of Institutions</h4>
                        <ul>
                            <li>Completed Diploma in Electronics and telecommunication with <b>69%</b> aggregate.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2013</p>
                        <div class="h5">Primary education</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">CBSC </div>
                        <h4 class="category">ABC International school</h4>
                        <ul>
                            <li>Completed with <b>80% </b>aggregate.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>